In [1]:
import pandas as pd
import scipy.stats as st
import numpy as np

C:\Users\ramya\anaconda3\lib\site-packages\scipy\__init__.py:155: UserWarning: A NumPy version >=1.18.5 and <1.25.0 is required for this version of SciPy (detected version 1.26.4
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/california_housing.csv")
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0
...,...,...,...,...,...,...,...,...,...
16995,-124.26,40.58,52.0,2217.0,394.0,907.0,369.0,2.3571,111400.0
16996,-124.27,40.69,36.0,2349.0,528.0,1194.0,465.0,2.5179,79000.0
16997,-124.30,41.84,17.0,2677.0,531.0,1244.0,456.0,3.0313,103600.0
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0

**We posit that houses close to either a school or a hospital are more expensive.**

- School coordinates (-118, 37)
- Hospital coordinates (-122, 34)

We consider a house (neighborhood) to be close to a school or hospital if the distance is lower than 0.50.

Hint:
- Write a function to calculate euclidean distance from each house (neighborhood) to the school and to the hospital.
- Divide your dataset into houses close and far from either a hospital or school.
- Choose the propper test and, with 5% significance, comment your findings.

In [4]:
def calculate_euclidean_distance(x1,y1,x2,y2):
    distance = ((x1 - x2)**2 + (y1 - y2)**2)** 0.5
    return distance

In [5]:
School_longitude = -118
School_latitude = 37
Hospital_longitude = -122
hospital_latitude = 34

def close_or_not_close(x):
    distance_to_school = calculate_euclidean_distance(School_longitude, School_latitude, x['longitude'], x['latitude'])
    distance_to_hospital = calculate_euclidean_distance(Hospital_longitude, hospital_latitude, x['longitude'], x['latitude'])
    if distance_to_school < 0.5 or distance_to_hospital < 0.5:
        return "close"
    else: 
        return "not close"
df["close/ not close"] = df.apply(close_or_not_close, axis = 1)

In [6]:
df["close/ not close"].value_counts()

not close    16995
close            5
Name: close/ not close, dtype: int64

In [10]:
close = df[df["close/ not close"] == "close"]['median_house_value']
not_close = df[df["close/ not close"] == "not close"]['median_house_value']

In [11]:
close

4523     74200.0
5596    108300.0
5597    104700.0
6776     94500.0
6904     80600.0
Name: median_house_value, dtype: float64

In [12]:
not_close

0         66900.0
1         80100.0
2         85700.0
3         73400.0
4         65500.0
           ...
16995    111400.0
16996     79000.0
16997    103600.0
16998     85800.0
16999     94600.0
Name: median_house_value, Length: 16995, dtype: float64

In [13]:
# HO: close <= not_close
# H1 close > not close

In [16]:
_, pvalue = st.ttest_ind(close, not_close, alternative = "greater")
pvalue

0.9866001334644356

In [17]:
alpha = 0.05

In [18]:
if pvalue > alpha:
    print("we fail to reject the null hypothesis")
else:
    print("we reject null hypothesis")

we fail to reject the null hypothesis